<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      <add name="(LocalDb)\MSSQLLocalDB" connectionString="Data Source=.;Initial Catalog=test;Integrated Security=True;" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMachineRepository" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52420/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMachineRepository"
                contract="ServiceReference1.IMachineRepository" name="BasicHttpBinding_IMachineRepository" />
        </client>
    </system.serviceModel>
</configuration>